/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
/* general */
:root {
	--color-scondary: #ffffff;
	--color-primary: #23272a;
	--color-header-bg: #255ee9;
	--color-section-bg: #f6f6f6;
	--color-contrast: #aebbe7;
}
.debug{
    border: 2px solid red;
}
body{
    font-family: "Roboto", sans-serif;
    background-color: var(--color-scondary);
    color: var(--color-primary);
}
/* header */
header{
    background-color: var(--color-header-bg);
    color: var(--color-section-bg);
}

/* main */

.section-bg{
    background-color: var(--color-section-bg);
}

/* footer */
footer{
    background-color: var(--color-primary);
    color: var(--color-scondary);
}

/* utility */
.container{
    max-width: 1200px;
    margin: 0 auto;
}