/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 3em;
}
h2{
    font-size: 2em;
    padding-right:90px ;
}
h3{
    color: #7289DA;
}
ul{
    list-style: none;
}
nav ul li{
    padding: 10px 15px;
}
p{
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 30px;
    color: var(--color-primary);
}
a{
    text-decoration: none;
    color: var(--color-scondary);
}
footer ul li{
    padding-top: 20px;
}

/* general */
:root {
	--color-scondary: #ffffff;
	--color-primary: #23272a;
	--color-header-bg: #255ee9;
	--color-section-bg: #f6f6f6;
	--color-contrast: #aebbe7;
}
.debug{
    border: 2px solid red;
}
body{
    font-family: "Roboto", sans-serif;
    background-color: var(--color-scondary);
    color: var(--color-primary);
}
/* header */
header{
    background-color: var(--color-header-bg);
    color: var(--color-section-bg);
    padding-top: 50px;
}
#hero{
    background-image: url("../img/jumbo.png");
    min-height: 630px;
    background-size: cover;
}
#cal-to-action{
    padding: 60px;
}
/* nav bar */
.navigation{
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-header-bg);
    width: 100%;
}

/* main */
.section-bg{
    background-color: var(--color-section-bg);
}
.left{
    width: 60%;
}
.left img{
    width: 100%;
}
.right{
    width: 30%;
    padding-top: 3%;
}
#feature{
    min-height: 300px;
}
.tec-img{
    width: 100%;
}
.flag{
    width: 20px;
}
.drop-menu{
    
}
.social{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 125px;
}




/* footer */
footer{
    background-color: var(--color-primary);
    color: var(--color-scondary);
}
.footer-top{
    border-bottom: 1px solid var(--color-contrast);
}

.flag-title{
    padding-bottom: 18px;
    color: var(--color-scondary);
}
.flag-pad{
    padding-bottom: 10px;
    padding-left: 15px;
    padding-top: 20px;
}


/* utility */
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.small-container{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.container-tec{
    text-align: center;
    padding-left: 180px;
    padding-right: 180px;
}

.intestazione{
    color: var(--color-scondary);
    
}

/* color */
.white{
    color: var(--color-scondary); 
    text-decoration: none;
}
.black{
    color: var(--color-primary);
    text-decoration: none;
}
.sky-blue{
    color: var(--color-scondary);
    text-decoration: none;
}



/* buttons */
.button{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}
.btn{
    padding: 10px 15px;
    border-radius: 30px;
    color: white;
    border: 1px solid #c0c0c0;  
}
.black-btn{
    padding: 10px 15px;
    border-radius: 30px;
    color: var(--color-scondary);
    border: 1px solid black; 
    background-color: var(--color-primary); 
}
.second{
    margin-top: 50px;
    background-color:#7289DA;
}
footer div button{
    padding: 10px 15px;
    border-radius: 30px;
    background-color: #7289DA ;
    border: 1px solid #7289DA; 
}

    

/* utility flex */
.d-flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.row-reverse{
    flex-direction: row-reverse;
}
.space-between{
    justify-content: space-between;
}
.space-around{
    justify-content: space-around;
}
.align-items-center{
    align-items: center;
    align-content: center;
}
.justify-content-center{
    justify-content: center;
}
.align-content{
    align-content: center;
}
